/*@import url("https://fonts.googleapis.com/css?family=Mystery+Quest");*/

@import url("https://fonts.googleapis.com/css?family=Cookie|Fredericka+the+Great");
#PageName{
	/*background: #FAAC58;*/
	/*opacity: 0.5;*/
}

h2, h3, p, div {
  font-family: "Mystery Quest", cursive, bold;
  font-size: 100%;
  alignment-baseline: center;
}

.titlePage{
	font-size: 200%;
	color: orange;
	font-weight:bold;
}

div{
	padding: 10px;
}

body {
  padding-top: 56px;
}

/*.header .navbar {
  background-color: transparent !important;
}*/